.logo {
  height: 80px;
}
.eli {
  height: 750px;
}
#s {
  margin-bottom: 10px;
}
.cc {
  position: absolute;
  left: 0px;
  right: 650px;
  top: 300px;
}
.learn {
  background-color: #3b3a3a;
}
.bd {
  color: rgb(150, 13, 13);
}
.crd {
  background-color: #dee2e6;
}
.btnc {
  background-color: #0b525b;
}
.loc {
  background-color: #1b4332;
}
.don {
  background-color: #9b2226;
}
.arabic {
  direction: rtl;
}
.social {
  background-color: rgb(0, 155, 155);
}
.carousel {
  background-color: rgb(206, 206, 206);
}
#eligiblity {
  background-color: rgb(206, 206, 206);
}
.social-icons img {
  width: 60px;
  transition: 0.5s;
}
.social-icons a:hover img {
  transform: translateY(-10px);
}
.border-right {
  border-right: 0.1px solid rgb(255, 255, 255);
}
.wave {
  width: 100%;
}
.navbar a.current,
.navbar a:hover {
  font-weight: bold;
}
